* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    width: 15vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar {
    min-height: calc(100vh - 70px);
}

main {
    display: grid;
    grid-auto-columns: 15% 85%
}

main .sidebar {
    grid-column: 1/2;
}

main .content {
    grid-column: 2/3;
    padding: 2rem;
}

.action-button {
    cursor: pointer;
}
